@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 14 14 17;
    --foreground: 255 255 255;
    --accent: 79 124 255;
    --accent-hover: 61 100 224;
    --secondary: 156 163 175;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

html {
  scroll-behavior: smooth;
}