@import "tailwindcss";

@layer base {
  :root {
    --background: 9 9 11; /* zinc-950 */
    --foreground: 250 250 250; /* zinc-100 */
  }

  * {
    border-color: rgb(39 39 42); /* zinc-800 */
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    -webkit-font-smoothing: antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}